@import "tailwindcss";

.nav-item-h {
    position: relative;
}

.nav-item-h a {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: black;
}

.nav-item-h::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgb(94, 237, 168);
    border-radius: 50%;
    z-index: 0;
    transition: width 0.3s ease, height 0.3s ease;
}

.nav-item-h:hover::before {
    width: 50px;
    height: 50px;
}

.nav-item-f {
    position: relative;
}

.nav-item-f a {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: black;
}

.nav-item-f::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgb(94, 237, 168);
    border-radius: 50%;
    z-index: 0;
    transition: width 0.3s ease, height 0.3s ease;
}

.nav-item-f:hover::before {
    width: 35px;
    height: 35px;
}